<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="Host" value="127.0.0.1" />
		<add key="Password" value="daraga2024" />
		<add key="Database" value="fms_property_inventory" />
		<add key="Port" value="3306" />
		<add key="UserId" value="root" />-->
		<add key="host" value="localhost" />
		<add key="Database" value="fms_property_inventory" />
		<add key="Password" value="f8cb353d00bd9897" />
		<add key="Port" value="3306" />
		<add key="UserId" value="root" />

		
	</appSettings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>